<footer id="footer" class="sixteen columns" data-hook>
  <div id="footer-left" class="columns alpha eight" data-hook>
    <p><%= Spree.t :"Site Made with " %> <%= link_to 'Spree', 'http://spreecommerce.com/' %></p>
    <p><%= Spree.t :'Copyright 2014 Gforce-rc' %></p>
  </div>
  <div id="footer-right" class="columns omega eight" data-hook></div>
</footer>

